@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{ 
        var Names = new List<string>(new string[] { "Sue", "Bill", "Jesse" });
    }

    <ul>
        @foreach (var name in Names)
        {
                <li>
                    @name
                </li>
        }
    </ul>
    @{ 
        var UserName = "Mark";
        var Greeting = "O hai";
    }

    <h3>@Greeting  @UserName</h3>

   @{var today = DateTime.Now.DayOfWeek.ToString();}

  
    @if(today== "Friday")
    {
        <p>TGIF</p>
    }
    else
    {
        <br />
    }

   

</div>

